<% include partial/header %>
<div class="container">
         <div class="card">
             <div class="card-body">
              <h1><%=yes.title%></h1>
             <img class="card-img mb-5" width="100%" src="<%=yes.image%>">
           </div>
           <div class="container">
           <div class="container">
            <%= yes.desc%>
            </div>
            </div>
           <a href="../edit/<%= yes.id%>" class="btn btn-primary mb-3 mt-3 mr-4" style=" margin-left:36px">
             Solved
           </a>
         </div>
       </div>
<% include partial/footer %>
