<% include partial/header %>
<form class="form col-8 m-auto" action="new" method="post">
      <h1 class="h3 mb-3 font-weight-normal" style="text-align:center">Sansad Parahari</h1>
      <!-- <label for="title">Title</label> -->
      <input type="text" id="title" class="form-control mb-1" name="title" placeholder="Title" required>
      <!-- <label for="image">Image</label> -->
      <input type="text" id="image" class="form-control mb-1" name="image" placeholder="Image" required>
      <!-- <label for="Desc">Desciption</label> -->
      <input type="text" id="Desc" class="form-control mb-1" name="desc" placeholder="Description" required>
      <button class="btn btn-lg btn-success btn-block" type="submit">Post</button>
</form>
<% include partial/footer %>
