<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Complaint Box</title>
    <script type="text/javascript" src="jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="jquery-ui.js"></script>
    <link href="jquery-ui.css" rel="stylesheet">
    <link href="bootstrap.min.css" rel="stylesheet" />
    <!-- <link href="stylesheet/app.css" rel="stylesheet" /> -->
    <!-- <link href="semantic.css" rel="stylesheet" /> -->
    <!-- <link href="semantic.min.css" rel="stylesheet" /> -->
    <script type="text/javascript" src="bootstrap.min.js"> </script>
    <!-- <script type="text/javascript" src="semantic.min.js"> </script> -->
    <!-- <link rel="stylesheet" href="icon.min.css"> -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.min.css" /> -->
    <style type="text/css">
      .color041e42{
        background-color: #041e42 ;
      }
      .colorwhite{
        color: white; class="colorwhite"
      }
    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light mb-2 color041e42">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <a class="navbar-brand" href="/"><span class="colorwhite" style="font-size: 30px"><strong>Complaint Box</strong></span></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
<!--       <li class="nav-item active">
        <a class="nav-link" href="/"><span class="colorwhite" style="font-size: 20px">Home</span></a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="/new"><span class="colorwhite" style="font-size: 20px">New Post</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/solved"><span class="colorwhite" style="font-size: 20px">Solved</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/unsolved"><span class="colorwhite" style="font-size: 20px">Unsolved</span></a>
      </li>
    </ul>
    <!-- <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
